.container, .data{
  margin: 0 auto;
  padding: 20px;
}
 h2{
  padding: 20px;
 }

 label{
  color: rgb(0, 178, 194);
  font-weight: 600;
  font-style: italic;
  margin-bottom: 5px;
 }

 input::placeholder{
  font-size: 13px;
  font-style: italic;
  color: rgba(133, 133, 133, 0.741) !important;
 }

 .table{
  padding: 10px !important;
 }